.inner-index-container {
    position: fixed;
    width: 100%;
    padding-right: 0;
    height: 100%;
    /* transition: 0.4s; */
}

.inner-index {
    width: 100%;
    height: 100%;
}

/** (1) right-sidebar **/
/*** (1-1) container ***/
.right-sidebar {
    position: fixed;
    top: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: var(--right-sidebar-width);
    background: var(--company-color3);
    z-index: 200;
}

.right-sidebar:before {
    content: "";
    position: absolute;
    height: 100vh;
    width: var(--right-sidebar-width);
    background: var(--company-color2-alpha);
}
.right-sidebar:after {
    content: "";
    position: absolute;
    height: 100vh;
    width: var(--right-sidebar-width);
    background: var(--company-color1-alpha);
    clip-path: ellipse(158% 41% at 60% 30%);
}

/** (2) Header (now included in right sidebar)**/
.header {
    height: var(--header-height);
    width: 100%;
    background: var(--company-color1);
    box-shadow: 2px 2px 2px var(--global-shadow-color);
    display: flex;
    justify-content: space-between;
    z-index: 10;

    .header-partition {
        height: 100%;
        display: flex;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .header-spacer-for-toggle {
        height: var(--header-height);
        width: var(--header-height);
    }
    .header-fixed-sidebar-toggle {
        position: fixed;
        top: 0px;
        right: 0px;
        height: var(--header-height);
        width: var(--header-height);
        color: #ff0;
    }
}


/*** (4) 開閉処理 ***/
/*** (4-2) right-sidebar の開閉***/
.state-control-checkbox:checked + .right-sidebar {
    right: 0;
    transition: all var(--sidebar-transition-time) var(--sidebar-transition-animation);
}
.state-control-checkbox + .right-sidebar {
    right: calc(-1 * var(--right-sidebar-width));
    transition: all var(--sidebar-transition-time) var(--sidebar-transition-animation);
}

/*** (4-3) sidebar partitionの開閉 ***/
.state-control-checkbox:checked + .sidebar-partition .sidebar-content {
    max-height: 800px;
    transition: all var(--sidebar-transition-time) var(--sidebar-transition-animation);
}
.state-control-checkbox + .sidebar-partition .sidebar-content {
    max-height: 0px;
    transition: all var(--sidebar-transition-time) var(--sidebar-transition-animation);
}

/*** (4-4) main-areaの領域決定 ***/
.open-right-sidebar-checkbox:checked + .main-area {
    margin-right: 0rem;
    left: 0rem;
    right: var(--right-sidebar-width);
    width: calc(100vw - var(--right-sidebar-width));
    transition: all var(--sidebar-transition-time) var(--sidebar-transition-animation);
}
.open-right-sidebar-checkbox + .main-area {
    margin-right: 0rem;
    left: 0rem;
    right: 0rem;
    width: calc(100vw);
    transition: all var(--sidebar-transition-time) var(--sidebar-transition-animation);
}
