/* (1) Dialog コンテナ デフォルト設定 */
.dialog-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    user-select: none;
    color: #333;
}
/* (2) Dialog コンテナ　表示・非表示 */
/** (2-1) アニメーション */
.state-control-checkbox:checked ~ .dialog-container {
    background: rgba(200, 200, 200, 0.4);
    animation-name: dialog-show;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: normal;
}
.state-control-checkbox ~ .dialog-container {
    background: rgba(100, 100, 100, 0.4);
    animation-name: dialog-hide;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: normal;
}

@keyframes dialog-hide {
    from {
        opacity: 1;
        z-index: 200;
    }
    90% {
        opacity: 0;
        z-index: -1;
    }
    to {
        opacity: 0;
        z-index: -1;
        /* display: none; */
    }
}

@keyframes dialog-show {
    from {
        opacity: 0;
        z-index: -1;
    }
    10% {
        display: flex;
        z-index: 200;
    }
    to {
        opacity: 1;
        z-index: 200;
    }
}

/** (2-2)  ダイアログ別の表示・非表示*/
.state-control-checkbox:checked + .dialog-frame {
    display: flex;
}
.state-control-checkbox + .dialog-frame {
    display: none;
}

/* (3) Dialog の枠 */
.dialog-frame {
    color: #000;
    width: 40rem;
    border: 2px solid var(--dialog-border-color);
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 5px var(--dialog-shadow-color);
    background: var(--dialog-background-color);
    overflow: hidden;
}

/* (4) Dialog の中身 */
/** (4-1) title */
.dialog-title {
    margin-top: 20px;
    background: var(--company-color2);
    color: #fff;
    width: 100%;
    text-align: center;
}
/** (4-2) content */
.dialog-content {
    width: 90%;
}
/** (4-3) Application Title */
.dialog-application-title {
    font-family: "Chicle", cursive;
    font-size: 3rem;
    text-align: center;
}
/** (4-4) Radio Button Title */
.dialog-radio-tile-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px;
    .dialog-tile-icon-container {
        position: relative;
        height: 6rem;
        width: 6rem;
        margin: 0.5rem;

        .dialog-radio-button {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            margin: 0;
            cursor: pointer;
        }

        .dialog-radio-button + .dialog-radio-tile {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            border: 2px solid var(--dialog-primary-color);
            color: var(--dialog-primary-color);
            border-radius: 5px;
            padding: 1rem;
            transition: transform 300ms ease;
        }

        /**** Active*/
        .dialog-radio-button:checked + .dialog-radio-tile {
            background-color: var(--dialog-primary-color);
            color: white;
            transform: scale(1.05, 1.05);
        }

        .dialog-radio-tile-label {
            text-align: center;
            font-size: 0.75rem;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: $primary-color;
        }
    }
}

/** (4-5) Dialog description */
.dialog-description {
    margin: 10px;
    font-size: 1.2rem;
    padding-left: 20px;
    padding-right: 20px;
    overflow-wrap: break-word;
}

/** (4-6) General Input */
.dialog-input-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
    /* .dialog-input-controls.hidden {
        display: none;
    } */
    .dialog-input-controls {
        /* display: flex; */
        /* flex-direction: row; */
        /* justify-content: center; */
        /* align-content: center; */
        /* text-align: left; */
        position: relative;
        margin-left: 0px;
        margin-right: 0px;
        height: 2rem;
        transition: all 1.3s;

        .dialog-input-description-label {
            position: absolute;
            width: 40%;
            left: 0px;
            padding-left: 1rem;
        }
        .right {
            text-align: right;
        }
        .dialog-input-input-text,
        .dialog-input-select,
        .dialog-input-time {
            margin-left: 10px;
            position: absolute;
            left: 40%;
            max-width: 60%;
            padding-left: 10px;
            font-size: 1rem;
            background: #ddd;
            border-radius: 4px;
            transition: all 0.3s;
            &:hover,
            &:focus {
                border: 2px solid var(--dialog-active-color);
            }
        }

        .dialog-input-toggle {
            display: none;
            margin-left: 10px;

            + .dialog-input-toggle-label {
                left: 40%;
                width: 2rem;
                height: 1rem;
                top: 0.25rem;
                cursor: pointer;
                background: #ccc;
                position: absolute;
                margin-left: 10px;

                display: inline-block;
                border-radius: 16px;
                transition: 0.4s;

                &:after {
                    content: "";
                    position: absolute;
                    width: 1rem;
                    height: 1rem;
                    top: 0.25rem;
                    border-radius: 100%;
                    left: 0;
                    top: 0;
                    z-index: 2;
                    background: #fff;
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
                    transition: 0.4s;
                }
            }
            &:checked + .dialog-input-toggle-label {
                background-color: var(--dialog-primary-color);
                &:after {
                    left: 1rem;
                }
            }
        }

        .dialog-input-normal-button {
            position: absolute;
            left: 40%;
            padding-left: 10px;
            padding-right: 10px;
            font-size: 1rem;
            background: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
            border: 1px solid #ccc;
            border-radius: 4px;
            transition: all 0.1s;
            &:hover,
            &:focus {
                border: 2px solid var(--dialog-active-color);
                background: -webkit-gradient(linear, left bottom, left top, from(#fdfbfb), to(#ebedee));
                background: -webkit-linear-gradient(bottom, #fdfbfb 0%, #ebedee 100%);
                background: linear-gradient(to top, #fdfbfb 0%, #ebedee 100%);
            }
        }
    }

    .dialog-input-submit-buttons-container {
        display: flex;
        padding: 10px;
        justify-content: center;
        align-content: center;
        .dialog-input-submit-button,
        .dialog-input-cancel-button {
            cursor: pointer;
            border-width: 2px;
            position: relative;
            border-style: solid;
            display: inline-block;
            padding: 5px 20px;
            margin-left: 10px;
            margin-right: 10px;
            transition: all 0.3s ease-in-out;
            text-align: center;
            font-weight: bold;
        }
        .dialog-input-submit-button {
            color: var(--dialog-primary-color);
            border-color: var(--dialog-primary-color);
            &:hover {
                color: #fff;
                background-color: var(--dialog-primary-color);
                border-color: var(--dialog-primary-color);
            }
        }
        .dialog-input-cancel-button {
            color: var(--dialog-cancel-button-color);
            border-color: var(--dialog-cancel-button-color);

            &:hover {
                color: #ffffff;
                background-color: var(--dialog-cancel-button-color);
                border-color: var(--dialog-cancel-button-color);
            }
        }
    }
}

/** (5-2) Application Information */

.dialog-application-information-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: #333;
    .dialog-application-information-title {
        font-size: 1.5rem;
        color: #faa;
    }
    .dialog-application-information-text {
        padding-left: 20px;
    }
    .dialog-application-information-list-container {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        .dialog-application-information-list {
            display: flex;
            flex-direction: row;
            .dialog-application-information-list-name {
                width: 30%;
                padding-left: 10px;
            }
            .dialog-application-information-list-description {
                padding-left: 10px;
                width: 60%;
                .dialog-application-information-list-voice-vox-list {
                    font-size: 0.5rem;
                    padding-left: 5px;
                }
            }
            .dialog-application-information-list-url {
                padding-left: 10px;
                width: 10%;
            }
        }
    }
}

.app-info-dialog-section {
    display: flex;
    flex-direction: column;
}
.app-info-dialog-section-title {
    font-size: 1.5rem;
    color: #faa;
}
.app-info-dialog-record-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.app-info-dialog-record-title {
    width: 30%;
}
.app-info-dialog-record-desc {
    width: 30%;
}
.app-info-dialog-record-url {
    width: 30%;
}

.setting-dialog-normal-button-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.setting-dialog-normal-button-label {
    margin-left: 10%;
}
.setting-dialog-normal-button {
    margin-right: 10%;
    border: 2px solid #00f;
    user-select: none;
    cursor: pointer;
    padding: 5px;
    background: #fff;
    border-radius: 5px;
    &:hover {
        background: #ddf;
    }
}


.dialog-content-row-spacer {
    height: 0.5rem;
}

/*****  行分割  *****/
.dialog-content-row-1 {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 1px 0px 1px 0px;
}

.dialog-content-row-3-7 {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 1px 0px 1px 0px;
    & > div:nth-child(1) {
        left: 0px;
        width: 30%;
    }
    & > div:nth-child(2) {
        left: 30%;
        width: 70%;
    }
}

.dialog-content-row-7-3 {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 1px 0px 1px 0px;
    & > div:nth-child(1) {
        left: 0px;
        width: 70%;
    }
    & > div:nth-child(2) {
        left: 70%;
        width: 30%;
    }
}

.dialog-content-row-4-4-2 {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 1px 0px 1px 0px;
    & > div:nth-child(1) {
        left: 0px;
        width: 40%;
    }
    & > div:nth-child(2) {
        left: 40%;
        width: 40%;
    }
    & > div:nth-child(3) {
        left: 80%;
        width: 20%;
    }
}

.dialog-content-row-2-2-2-2-2 {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 1px 0px 1px 0px;
    & > div:nth-child(1) {
        left: 0px;
        width: 20%;
    }
    & > div:nth-child(2) {
        left: 20%;
        width: 20%;
    }
    & > div:nth-child(3) {
        left: 40%;
        width: 20%;
    }
    & > div:nth-child(4) {
        left: 60%;
        width: 20%;
    }
    & > div:nth-child(5) {
        left: 80%;
        width: 20%;
    }
}

/* label */
.dialog-content-row-label {
    width: 100%;
    user-select: none;
}

/* input */
.dialog-content-row-input {
    width: 100%;
}

.dialog-content-row-input-input {
    max-width: 90%;
    min-width: 30%;
    font-size: 0.7rem;
}

/* Button */
.dialog-content-row-button {
    padding: 0px 5px 0px 5px;
    margin: 0px 5px 0px 5px;
    border-radius: 2px;
    border: 1px solid #446;
    cursor: pointer;
    /* width: 30%; */
    text-align: center;
    font-weight: 100;
    user-select: none;
}

/***** Divider  *****/
.dialog-content-row-dividing {
    height: 2px;
    width: 100%;
    background: #aaaaaa88;
    margin: 10px 0px 10px 0px;
    border-radius: 5px;
}