/* (1) Dialog コンテナと表示・非表示 */
.dialog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
}

.state-control-checkbox:checked ~ .dialog-container {
    background: rgba(200, 200, 200, 0.4);
    animation-name: dialog-show;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: normal;
}
.state-control-checkbox ~ .dialog-container {
    background: rgba(100, 100, 100, 0.4);
    animation-name: dialog-hide;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: normal;
}

@keyframes dialog-hide {
    from {
        opacity: 1;
        z-index: 200;
    }
    90% {
        opacity: 0;
        z-index: -1;
    }
    to {
        opacity: 0;
        z-index: -1;
        /* display: none; */
    }
}

@keyframes dialog-show {
    from {
        opacity: 0;
        z-index: -1;
    }
    10% {
        display: flex;
        z-index: 200;
    }
    to {
        opacity: 1;
        z-index: 200;
    }
}

/* (2) Dialog の枠 */
.dialog-frame {
    color: #000;
    width: 40rem;
    border: 2px solid var(--dialog-border-color);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 5px var(--dialog-shadow-color);
    background: var(--dialog-background-color);
    overflow: hidden;
}

/* (2) Dialog の中身 */
/****** (a) title */
.dialog-title {
    margin-top: 20px;
    background: var(--company-color2);
    color: #fff;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    user-select: none;
}
/****** (b) content */
.dialog-content {
    width: 90%;
}

/*****  行分割  *****/
.dialog-content-row-1 {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 1px 0px 1px 0px;
}

.dialog-content-row-3-7 {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 1px 0px 1px 0px;
    & > div:nth-child(1) {
        left: 0px;
        width: 30%;
    }
    & > div:nth-child(2) {
        left: 30%;
        width: 70%;
    }
}

.dialog-content-row-7-3 {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 1px 0px 1px 0px;
    & > div:nth-child(1) {
        left: 0px;
        width: 70%;
    }
    & > div:nth-child(2) {
        left: 70%;
        width: 30%;
    }
}

.dialog-content-row-4-4-2 {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 1px 0px 1px 0px;
    & > div:nth-child(1) {
        left: 0px;
        width: 40%;
    }
    & > div:nth-child(2) {
        left: 40%;
        width: 40%;
    }
    & > div:nth-child(3) {
        left: 80%;
        width: 20%;
    }
}

.dialog-content-row-2-2-2-2-2 {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 1px 0px 1px 0px;
    & > div:nth-child(1) {
        left: 0px;
        width: 20%;
    }
    & > div:nth-child(2) {
        left: 20%;
        width: 20%;
    }
    & > div:nth-child(3) {
        left: 40%;
        width: 20%;
    }
    & > div:nth-child(4) {
        left: 60%;
        width: 20%;
    }
    & > div:nth-child(5) {
        left: 80%;
        width: 20%;
    }
}

/***** Divider  *****/
.dialog-content-row-dividing {
    height: 2px;
    width: 100%;
    background: #aaaaaa88;
    margin: 10px 0px 10px 0px;
    border-radius: 5px;
}

/* label */
.dialog-content-row-label {
    width: 100%;
    user-select: none;
}

/* input */
.dialog-content-row-input {
    width: 100%;
}

.dialog-content-row-input-input {
    max-width: 90%;
    min-width: 30%;
    font-size: 0.7rem;
}

/* Button */
.dialog-content-row-button {
    padding: 0px 5px 0px 5px;
    margin: 0px 5px 0px 5px;
    border-radius: 2px;
    border: 1px solid #446;
    cursor: pointer;
    /* width: 30%; */
    text-align: center;
    font-weight: 100;
    user-select: none;
}
